<!-- <!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>SummerCampApp</title>
	<link rel="stylesheet" href="style1.css">
</head> -->


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="/stylesheet/style1.css" rel="stylesheet" type="text/css">
    <title>Top News</title>
</head>

<body>
    <h1>Easy News</h1>
    <h3>Welcome <br> We provide the top news in one click!</h3>
    <h2>
            <hr>
    <a href="/news1"><br>Click Here for Top News</a> <br> <br>
        </h2>
    <hr>    
    <h5>
    <a href="/retrieveInfo"><br>Retrieve Survey Information</a> <br>
    </h5>
</body>

</html>
