<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reviewing Survey</title>
    <link href="/stylesheet/style2.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Review Survey</h1>
    <hr>
    <form action=<%=endpoint %> method="post">
        <h4>
            <label for="name" name="name"></label><b>Name: </b><input type="name" name="name" placeholder="Enter your name"></label>
            <br>
            <br>
            <br>

        <input type="reset" class = "block">
        <input type="submit" value="Submit Request" class = "block">
        </h4>
    </form>

    <div class="reset">
        <a href="/">HOME</a>
    </div>
</body>

</html>